{% extends "base.html" %}

{% block content %}
<h2>{{ platoon.title }}</h2>
{% if user.is_authenticated %}
<p><a href="{% url 'uo_template_platoons.views.edit_platoon' pk=platoon.id %}">[Edit information section]</a></p>
{% endif %}
<p>{{ platoon.description }}</p>
<table>
	<tr><th>Owner:</th><td>{{ platoon.owner }}</td></tr>
	<tr><th>Period:</th><td>{{ platoon.period.name }}</td></tr>
	<tr><th>Army:</th><td>{{ platoon.army.name }} ({{ platoon.army.get_side_display }})</td></tr>
	<tr><th>Branch:</th><td>{{ platoon.branch.name }}</td></tr>
</table>
<h2>Sections</h2>
{% if user.is_authenticated %}
<p><a href="{% url 'uo_template_platoons.views.edit_platoonsections' pk=platoon.id %}">[Edit section deployment]</a></p>
{% endif %}
<table>
{% for section in sections %}
<tr><td>
{{ section.count }} times {{ section.name }}<br />
{{ section.description }}
</td><td>
{% for unit in section.units %}
{{ unit.count }} times {{ unit.name }}: {{ unit.description }}<br />
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
