#auth_bar {
	float:right;
}

#sidebar ul, #sidebar li {
	list-style: none;
	margin: 3px;
	padding: 0;
}
#sidebar ul li { float: left; min-height: 1px; vertical-align: middle;}

#sidebar a { display: block; line-height: 1em; text-decoration: none; }

#sidebar > ul { *display: inline-block; }

#sidebar:after, #sidebar ul:after {
  content: '';
  display: block;
  clear: right; 
}

td {
  text-align: left;
}
